@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --primary-color: rgb(0, 75, 71);
    --primary-color-darker: rgb(0, 32, 30);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 640px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    margin: 50px auto;
    border-radius: 10px;
}

form input,
form label,
form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
    border-radius: 5px;
}

form input:focus {
    border: 1px solid red;
}

form button {
    background-color: var(--primary-color);
    color: white;
    font-size: 18px;
    font-weight: 700;
    width: 100px;
    padding: 10px;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
    border-radius: 5px;
}

form button:hover {
    background: var(--primary-color-darker);
}

.imc-section {
    display: flex;
    justify-content: space-between;
}

.imc-section p {
    background-color: rgb(239, 239, 239);
    padding: 10px;
    border-radius: 10px;
}

.imc-section div {
    width: 45%;
}

#resultado p {
    background-color: rgb(147, 0, 0);
    color: white;
    margin: 50px;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
}

#resultado .bom {
    background-color: rgb(0, 147, 98);
}